*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    background-color: #042331;
    
    height: 100vh;
    width: 200px;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 90px;
    background: #063146;

}
.sidebar ul a{
   text-align: center;
   display: block;
   height: 100%;
   width: 100%;
   padding-bottom: 10px;
   line-height: 65px;
   box-sizing: border-box;
   color: white;
   border-top: 1px solid rgba(225,225,225,.1);
   border-bottom: 1px solid black;
   transition: .4s;
}
ul li:hover a{
    padding-left: 8px;
}